* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/* fonts */
body {
  font-family: "Lato", sans-serif;
}

/* header section style */

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10rem;
  height: 100svh;
  background: #e554731a;
  gap: 1rem;
}
.header-left h1,
.header-left p {
  padding-bottom: 2rem;
}
.header-left h1 {
  font-size: 3rem;
}
.header-left p {
  font-size: 1.5rem;
  color: #27272799;
}
.header-right {
  height: 100%;
  align-items: flex-end;
}
.header-right img {
  display: flex;
  align-items: end;
  height: 100%;
  padding-top: 3rem;
}

.btn {
  color: #fff;
  border-radius: 0.5rem;
  background: #e55473;
  padding: 1rem 1.75rem;
  border: none;
  font-size: 1.25rem;
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.5s;
  background-color: rgba(0, 176, 6, 0.768);
  opacity: 0.8;
}

/* flower collections section style */

.collection-heading {
  text-align: center;
  font-size: 2rem;
  padding: 8rem 0 1rem 0;
}
.collection-para {
  text-align: center;
  font-size: 1.5rem;
  color: #27272799;
  padding: 1rem 4rem 3rem 4rem;
}

.collection-img {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10rem;
  gap: 2rem;
}
.collection-img .flowers {
  border-radius: 18.75rem 18.75rem 0rem 0rem;
  background: #a7216226;
  padding: 4rem 2rem 0 2rem;
  width: 22rem;
  height: 25rem;
  flex-shrink: 0;
}
.flowers img {
  height: 100%;
  width: 100%;
}
.flower-title {
  text-align: center;
  padding: 1rem;
  text-decoration: underline;
}

/* blog section style */

.blog-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn-2 {
  color: #fff;
  border-radius: 0.5rem;
  background: #e55473;
  padding: 0.5rem 1.15rem;
  border: none;
  font-size: 1.25rem;
}

.blog-1 img,
.blog-2 img,
.blog-3 img {
  height: 10rem;
  width: 5rem;
  object-fit: cover;
}

.blog {
  margin: 5rem 10rem;
}

.blog-1,
.blog-2,
.blog-3 {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 30rem;
  border-radius: 0.5rem;
}
.blog-1 img,
.blog-2 img,
.blog-3 img {
  width: 100%;
  height: auto;
}

.flower-name {
  font-size: 24px;
  color: #333;
  margin-top: 10px;
}

.collection-para {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
}

.btn-2 {
  background-color: #e55473;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.btn-2:hover {
  background-color: #e88b00;
  transition: all 0.5s;
}

/* Service data */

.service-data {
  border-radius: 0.5rem;
  background: #2727270d;
  display: flex;
  margin: 0 10rem;
  justify-content: space-evenly;
  padding: 2rem 0;
}
.service-data div{
  text-align: center;
}


